header {
	text-align: center;
    font-size: 90
}
div {
	font-size: 30;
}
header {
	line-height: 2;
}
html {
	background-color: #FFFAF0;
}
form {
	text-align: center;
}
form {
	font-size: 50;
}
input {
	font-size: 30;
}
